@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-brand: "Courier New", Courier, monospace;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Courier New", Courier, monospace;
  --font-mono: "Courier New", Courier, monospace;
  --color-dominus: #d6ceb8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-brand);
}

/* Aggressively hide scrollbar everywhere */
* {
  scrollbar-width: none !important;
  /* Firefox */
  -ms-overflow-style: none !important;
  /* IE and Edge */
}

::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
  background: transparent !important;
}
